body {
    margin: 0;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.users-table {
    width: 100%;
    margin-top: 40px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.users-table, 
.users-table th, 
.users-table td {
    border-collapse: collapse;
}

.users-table th {
    text-align: left;
    background-color: #009879;
    color: white;
}

.users-table th, 
.users-table td {
    padding: 5px 0 5px 10px;
}

.users-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.users-table tbody tr:nth-of-type(odd) {
    background-color: #f3f3f3;
}

.users-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.users-table tbody tr.active-row {
    font-weight: bold;
    color:#009879;
}

.primary-button {
    padding: 10px;
    background-color: #009879;
    color: white;
    border: #009879;
    border-radius: 5px;
    font-weight: bold;
}

.search {
    padding: 10px;
    background-color: #f3f3f3;
    border: 2px solid #009879;
    border-radius: 5px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.pagination ul {
    list-style-type: none;
}

.pagination li {
    float: left;
    margin: 10px;
}

.pagination li a {
    padding: 5px;
    background-color: #009879;
    color: white;
    border: #009879;
    border-radius: 5px;
}

.float-right {
    float: right;
}

.center {
    margin: auto;
    width: 70%;
}

.inline {
    display: inline;
}

.form * {
    box-sizing: border-box;
    
}